body {
    background-color: lightblue;
    margin: 0;
}

canvas#background {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
}

#master>div {
    background-color: rgba(0,0,0,.7);
    color: white;
    border-radius: 3em;
    padding: 2em;
    margin: 2em 1em;
}

#master{
    z-index: 999;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    height:  100%;
    /* margin: 2em 1em; */
}

#header {
    float: left;
    text-align: center;
}

#header img {
    vertical-align: middle;
    width: 128px;
    height: 128px;
    float:center;
}

#header h1 {
    font-size: 500%;
    margin: 0;
    vertical-align: middle;
    white-space: normal;
}

#content {
    overflow: hidden;
}

.play {
    margin-top: 3em;
}

.play>a {
    padding: 1em 3em;
    background-color:gray;
    border-radius:1em;
    color: black;
    text-decoration: none;
}